.header{
  display:flex;
  background-color: #e3dddd;
}

.title{
  display:flex;
  background-color: #bfbbbb;
}

.about{
  display: flex;
  background-color: #e3dddd;
}

.my-projects{
  display: flex;
  background-color: #bfbbbb;
}

.footer{
  display: flex;
  background-color: #e3dddd;
}
